@import "tailwindcss";

@theme {
  --color-cream: #FAF8F5;
  --color-burgundy: #5C1A1B;
  --color-olive: #737A59;
  --color-peach: #F2D5C4;
  --font-serif: var(--font-cormorant);
  --font-sans: var(--font-inter);
}

body {
  background-color: var(--color-cream);
  color: var(--color-burgundy);
}
